@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: bisque;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;
  cursor: default;
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  width: 120px;
}

button {
  border: 0;
  border-radius: 15px;
  background: none;
  cursor: pointer;
  margin: 0 0 18px 0;
}

img {
  width: 16px;
}

img:hover {
  width: 18px;
  margin:  0 -1px -2.5px -1px;
  transform: translateY(-2px);
}

.space {
  margin: 15px 25px;
}

.timer {
  display: flex;
  justify-content: left;
  align-items: baseline;
  width: 280px;
  font-size: 48px;
}

.nums:hover {
  color: rgba(68, 224, 146, 0.8);
}

.nums:last-child {
  font-size: 26px;
}